# Node environment configuration
NODE_ENV=development

# Database configuration
POSTGRES_URL=postgresql://switchlight:localpassword@localhost:5432/switchlight_db
POSTGRES_HOST=localhost
POSTGRES_USER=switchlight
POSTGRES_PASSWORD=localpassword
POSTGRES_DB=switchlight_db
POSTGRES_PORT=5432

# Telegram Bot API Token
TELEGRAM_API_TOKEN=replace-with-your-token
